.card-swap-container {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  transform-origin: center center;

  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid var(--logo-color);
  background: var(--logo-color);

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


 @media (max-width: 630px) {
  .card-swap-container {
    transform: translate(-50%, -50%) scale(0.90);
  }
}

@media (max-width: 550px) {
  .card-swap-container {
    transform: translate(-50%, -50%) scale(0.65);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: translate(-50%, -50%) scale(0.55);
  }
}
