.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-bg canvas {
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  padding: 0 0.3rem;
  width: 90%;
  margin: 0 auto;
  pointer-events: none;
  
}

.hero-content h1 {
  margin-top: 4.5rem;
  font-size: clamp(2rem, 5vw, 5rem);
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: var(--hero-color);
  border-radius: 50px;
  padding: 0.5rem 0;
}

.hero-content p {
  font-size: 1.5rem;
  font-family: "Sulphur Point", sans-serif;
  margin: 0 10rem;
  background-color: var(--hero-color);
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.hero-content button,
.hero-content a {
  pointer-events: auto;
}

.hero-button {
  padding: 1rem;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--logo-color);
  font-size: 1.4rem;
  font-family: "Sulphur Point", sans-serif;
}

@media (max-width: 1024px) {
  .hero-content p {
    font-size: 1rem;
    margin: 0;
  }
}

@media (max-width: 640px) {
  .hero-content h1 {
    font-size: clamp(1.8rem, 3.8vw, 4.2rem);
    max-width: 100%;
    overflow-wrap: break-word;
    margin-top: 0;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin: 0;
  }

  .hero-button {
    font-size: 1.2rem;
  }
}
